.team-item {
  height: 160px;
  min-width: 160px;
  flex: 1;
  background-color: #fff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.5s ease-in-out;
  transition: transform 450ms;
}

.team-item:hover {
  background: linear-gradient(to bottom, #b5ffe696, #289eff98);
  transform: scale(1.08);
}


@media screen and (max-width: 768px) {
  .team-item {
    height: 100px;
    min-width: 100px;

    transition: background 0.5s ease-in-out;
    transition: transform 450ms;
  }

  .team-item:hover {
    background: linear-gradient(to bottom, #b5ffe696, #289eff98);
    transform: scale(1.08);
  }
}
