.team-item {
  height: 160px;
  width: 160px;

  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
