.section-container {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: scroll;
  color: #1A237E;
}

.section-left {
  flex-basis: 80%;
}

.section-right {
  margin-left: 30px;
  flex-basis: 20%;
}

.section-Heading {
  /* margin-bottom: 30px; */
  border-bottom: 1px solid #008080;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 10px;
}

.section-title {
  margin-left: 8px;
  font-size: 20px;
  font-weight: 600;
}

.analytics{
  height: 80%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
