.section-container {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: scroll;
  color: #1a237e;
  height: 100%;
}

.section-left {
  flex-basis: 80%;
}

.section-right {
  margin-left: 30px;
  flex-basis: 20%;
  height: auto;
}

.section-Heading {
  border-bottom: 1px solid #008080;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 10px;
}

.section-title {
  margin-left: 8px;
  font-size: 20px;
  font-weight: 600;
}

.analytics {
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .section-container {
    padding: 0px;
    height: 100%;

    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
  }

  .section-left {
    flex-basis: 100%;
  }

  .section-right {
    display: none;
  }

  .section-Heading {  
    padding: 10px;
  }
  
  .section-title {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 600;
  }
}
