.sprint-item-container {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background-color: #fff;
  color: black;
  border-radius: 10px;

  padding: 15px 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Updated shadow */

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  transition: background 450ms ease-in-out;
}

.sprint-item-container:hover {
  background-color: #add8e6;
}

.sprint-item-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  /* flex-basis: 80%; */
}

.sprint-duration {
  display: flex;
  gap: 0.5em;
}

.sprint-duration-time {
  display: flex;
  justify-content: space-around;
  gap: 0.5em;
}

.sprint-team {
  display: flex;
}

.sprint-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-basis: 20%; */
}

.sprint-status {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  width: 130px;

  position: relative;
}

@media only screen and (max-width: 768px) {
  .sprint-item-container {
    padding: 10px 10px;
  }

  .sprint-item-container:hover {
    background-color: #add8e6;
  }

  .sprint-item-left {
    gap: 0.1em;
  }

  .sprint-name {
    font-size: 14px;
  }

  .sprint-duration {
    gap: 0.1em;
    text-align: center;
  }

  .sprint-duration-title {
    font-size: 14px;
  }

  .sprint-duration-time {
    gap: 0.3em;
  }

  .sprint-date {
    font-size: 13px;
  }

  .sprint-middle {
    font-size: 12px;
    font-weight: bold;
  }

  .sprint-team {
    display: flex;
    gap: 0.2em;
  }

  .sprint-team-name-heading {
    font-size: 13px;
  }

  .sprint-team-name {
    font-size: 14px;
  }

  .sprint-item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sprint-status {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    width: 70px;
    margin-bottom: 5px;
  }

}
