.sidenavbar {
  box-sizing: border-box;
  height: 100%;
  width: 240px;
  padding: 20px 30px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #fff;
  color: #000000;
  /* box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.199); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Updated shadow */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;

  border-radius: 10px;
}

.nav-top {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.nav-bottom {
  /* flex-basis: 40%; */
}

.profile {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  object-fit: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
}

.navigation-headings {
}

.header-icon {
  margin: 15px 0px;
  cursor: pointer;
}

.close-nav {
  position: absolute;
  top: 5px;
  right: 5px;
}

.hide-nav-icon {
  display: none;
}

.minimize-side-nav-bar {
  padding: 20px 5px;
  width: auto;
}

.profile-image-min {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .sidenavbar {
    height: 90vh;
    width: 180px;
    padding: 20px 10px;

    position: absolute;
    top: 8px;
    left: 7px;
  }

  .minimize-side-nav-bar {
    font-size: 25px;
    font-weight: bold;
    width: auto;

    position: absolute;
    top: 8px;
    left: 7px;
  }

  .hide-nav-icon {
    display: block;
    position: absolute;
    top: 4px;
    right: 60px;
    color: rgb(61, 80, 253);
  }

  .hide-nav-bar {
    display: none;
  }

  .arrow-icon-left {
    font-size: 24px !important;
  }

  .hide-side-nav-mobile {
    display: none;
  }
}
