.dropdownbutton-container {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  padding-left: 14px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  border-radius: 8px;
  cursor: pointer;
}

.dropdownbutton-container > p {
  font-size: 14px;
  font-weight: 600;
}

.not-started-color {
  background-color: #6cb2eb;
}

.progress-color {
  background-color: #ff854e;
}

.completed-color {
  color: white;
  background-color: #28a745;
}
