.user-input {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.user-input label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.user-input input {
  width: 100%;
  max-width: 15rem;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 0.7rem ;
  outline: none;
  border: none;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .user-input {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
  }
  
  .user-input input {
    padding: 5px 8px;
    width: inherit;
    max-width: 8rem;
  }

  .user-input label {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
}
